/* Detalle de pelis y series */

#body {
    background-color: rgb(53, 22, 82);
}
#bodyy {
    background-color: rgb(53, 22, 82);; 
}
#rick {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 35%;
}
#spiderm {
    width: 30%;
    height: 50%; 
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    margin-left: 35%;
}
#container {   
    width: 900px;
    height: max-content; 
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    margin: 50px auto;
    border: 1px solid #ffffff40;  
}
#container2 {   
    width: 900px;
    height: max-content; 
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    margin: 50px auto;
    border: 1px solid #ffffff40;  
}
.filter {
    -webkit-backdrop-filter: blur(15px);  
    backdrop-filter: blur(15px);
    background-color: rgba(243,243,243,0.2);
    
}
#titulo {
    font-family:'Quicksand', sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
#titulop {
    font-family:'Quicksand', sans-serif;
    color: rgb(242, 239, 239);
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.fa-solid {
justify-content: center;
    }
.parrafo {
    font-family:'Quicksand', sans-serif;
    color: rgb(31, 32, 33);
}
.paf {
    font-family:'Quicksand', sans-serif;
    color: #f1f0f0;
}
element.style {
    padding: 10px 200px;
}
#izq {
    text-align: center;
}
#der {
    text-align: left;
}
#sub {
    text-align: center;
    background-color: #444;
    color: #f1f0f0;
    text-decoration: none;
    width: 150px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.linkp {
    color: rgb(245, 241, 241);
    text-decoration: none;
}
.link {
    color: rgb(4, 4, 4);
    text-decoration: none;
}
.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#blanco {
    color: #f1f0f0;
}
.Recomendacion {
    width: 130px;
    text-align: center;
    
}
.mediaseries {
    padding: 10px 200px
}
/* GENERO */

#peliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    margin-bottom: 10px;
    align-items: center;
    height: 10%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.a {
    background-color: #444;
    color: #f2eef2;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    font-family:'Quicksand', sans-serif;
    font-size: larger;
}
#genero {
    text-align: center;
    text-decoration-line: double;
    color: white;
    padding: 10px;
}

.pys {
    background-color: #444;
    text-align: center;
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
}
/*busqueda*/
.bodyb {
    height: max-content;
}
.mainbusqueda {
    height: max-content;
}
.busquedalistas {
    margin-bottom: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
    min-width: 240px;
}
.noexiste {
    display: block;
    margin: 0px 0px 15px 5px;
    margin: 0px;
    color: white;
    font-family:'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: medium;
}
.sectionbusqueda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.busquedaportadas {
    border-radius: 10px;
    border:5px solid white;
    margin: 5px;
    width: 100%;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin-bottom: 35px;
}
/* header */ 
.contenedorpadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.hijados {
    display: flex;
    justify-content: space-between;
}
.nav {
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
    color: white;
    font-family:'Quicksand', sans-serif ;
}
.hija {
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.todos {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    font-size: 15px;
}
.logo {
    width: 6%;
}
.searchform {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.busqueda {
    justify-content: flex-end;
    align-items: end;
    align-content: end;
    margin: 0px
}
.extremos {
    background-color: rgb(26, 3, 48);
    width: 100%;
}
.hijatres {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    align-items: end;
}
/* main de home  */ 
.medio {
    background-color: rgb(53, 22, 82);
}
.sectionmain {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.sectionmain2 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.pili{
list-style-type: none;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding: 0px;
margin: 0px;
}
.meli{
list-style-type: none;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding: 0px;
margin: 0px;
}
.section-main {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.sectionmain3 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.listadedatos {
    list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
h1 {
    margin: 0px;
    color: white;
    font-family:'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: medium;
    margin: 5px;
}
.portadas {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    border:5px solid rgb(53, 22, 82);
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.generoportadas {
    border-radius: 10px;
    width: 90%;
    height: 200px;
    border:5px solid rgb(53, 22, 82);
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.tamaño {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.series {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.linkdeseries {
    text-decoration: none;
    width: 90%;
}
.listadeseries {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 18%;
    padding: 0px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 30px;
    min-width: 240px;
    height: 300px;
}
.flecha {
    width: 10%;
    height: 15%;
    background-color: transparent;
}
.tituloestreno {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.nombre {
    font-weight: bolder;
}
/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.divfoot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.footerlogo {
    align-items: center;
    width: 10%;
    height: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 0px 0px 0px 405px;
}
.listitafinal {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.infoadicional {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
}
.h1{
    margin: 0px;
    color: white;
    font-family:'Quicksand', sans-serif;
    font-weight: lighter;
    font-size:large;
    margin: 5px;
}
/*favoritos*/ 
.h2 {
    font-family:'Quicksand', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: medium;
}
#h1 {
    font-weight: bolder ;
    font-size: larger;
}
.favoritosportada {
    border-radius: 10px;
    border:5px solid white;
    margin: 5px;
    width: 100%;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}
.misseries {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
    min-width: 240px;
}
.mispeliculas {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
    min-width: 240px;
}
.seriesfav {
    margin: 10px;
}
.pelifav {
    margin: 10px;
}
/*detelladegeneros*/ 
.h3 {
    font-family:'Quicksand', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: small;
}
.h2 {
    font-family:'Quicksand', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: medium;
}

.lige1 {
    margin: 0px 90px;
}
.lige2 {
    margin: 0px 80px 0px 0px;
}
.lige3 {
    margin: 0px 120px 0px 0px;
}
.lige4 {
    margin: 0px 100px 0px 0px;
}
.pdes {
    margin: 0px;
}
.peliculasdg {
    padding: 0px 0px 25px 0px;
    margin: 5px;
}
.seriesdg {
    padding: 0px 0px 25px 0px;
    margin: 5px;
}
/*Telefonos*/ 
@media(max-width: 390px){
    .bodymedias { 
        max-width: 390px; 
        padding: 0%;
        margin: 0px;
    }
    .hija {
        flex-direction: column;
        padding: 0px;
    }
    .listadeseries {
        justify-content: center;
        align-items: center;
    }
    .busqueda {
        margin: 35px;
        width: 63px;
        justify-content: flex-end;
    }
    .logo {
        width: 20%;
    }
    .divfoot {
        justify-content: center;
    }
    .footerlogo {
        margin: 0px;
    }
    .hijatres {
        width: 35%;
    }
    .sectionmain {
        justify-content: center;
    }
    .infoadicional {
        text-align: center;
    }
    .h2 {
        width: 100%;
    }
    #container {
        width: 70%;
    }
    .bodyy {
        height: 300px;
    }
    .mediaseries {
        padding: 0px;
    }
    }