/* header */ 
.contenedorpadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.hijados {
    display: flex;
    justify-content: space-between;
}
.nav {
    justify-content: space-between;
}
.hija {
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.todos {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 13px;
}
.nav {
    text-decoration: none;
    color: white;
    font-family:'Quicksand', sans-serif ;
}
.logo {
    width: 6%;
}
.busqueda {
    justify-content: flex-end;
    margin: 0px 0px 0px 315px;
}
.extremos {
    background-color: rgb(26, 3, 48);
}

/* main de home  */ 
.medio {
    background-color: rgb(53, 22, 82);
}
h1 {
    margin: 0px;
    color: white;
    font-family:'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: medium;
    margin: 5px;
}
.portadas {
    border-radius: 10px;
    width: 300px;
    height: 175px;
    border:5px solid white;
    margin: 5px;
}
.series {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.flecha {
    width: 10%;
    height: 15%;
    background-color: transparent;
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.divfoot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.footerlogo {
    align-items: center;
    width: 100px;
    margin: 0px 0px 0px 170px;
}
.listitafinal {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.infoadicional {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
}
/* detallepeliculas*/
/* detalleseries*/
/*favoritos*/ 
/*generos*/ 
/*detelladegeneros*/ 
/*resultadodebusqueda*/ 
/*footer*/
/*Telefonos*/ 
@media(max-width: 420px){

}